* {
    font-family: Arial;
}

body {
    width: 1200px;
    margin: auto;
    min-height: 100vh;
    padding-bottom: 1em;
}

#header-logo {
    width: 400px;
    margin: 10px;
}

header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

#nav-links {
    padding: 2em;
    border-bottom: 5px solid black;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

a.nav-link {
    font-size: 1.5em;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
    color: black;
}

a.nav-link.active {
    background: yellow;
    font-weight: bold;
}

.product {
    padding: 0.5em;
    cursor: pointer;
    display: block;
    color: black;
    text-decoration: none;
}

h1 {
    font-weight: normal;
    margin-top: 50px;
}

#products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.5em;
}

.product span {
    margin: 0;
    display: block;
    text-wrap: wrap;
}

.product:hover {
    background: yellow;
    font-weight: bold;
}

.product .price {
    font-weight: normal;
}

.product .name {
    text-decoration: underline;
}

.product img {
    width: 285px;
    aspect-ratio: 1/1;
    border: 2px solid black;
    display: block;
}

.cart-item img {
    width: 200px;
    aspect-ratio: 1/1;
    border: 2px solid black;
    display: block;
}

#detail-view{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2.5em;
}

#detail-form h3 {
    text-align: left;
    width: 100%;
}

#detail-img {
    width: 600px;
    aspect-ratio: 1/1;
    border: 2px solid black;
    display: block;
}

#detail-form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#detail-form label {
    margin-top: 20px;
    margin-bottom: 20px;
}

#detail-form select {
    width: 100%;
    padding: 1em;
}

#detail-form > div {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

#detail-form > div > button, #checkout-box button {
    background: yellow;
    padding: 5px;
    cursor: pointer;
}

h3 {
    max-width: 400px;
    margin-top: 20px;
    text-wrap: wrap;
    text-align: center;
    font-weight: normal;
}

.cart-item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
}

.cart-item a {
    text-decoration: underline;
    font-weight: 700;
    margin-bottom: 1em;
}

.cart-item > div {
    text-align: left;
    font-weight: normal;
}

.cart-item > div > h4 {
    margin: 1em 0;
    font-weight: normal;
}


.cart-item > div > .price{
    position: absolute;
    right: 0;
    top: 1.5em;
}

#checkout-box {
    position: relative;
    border-top: 4px solid black;
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 70%;
}

#checkout-box h4 {
    margin: 1em 0;
    font-weight: normal;
}

#checkout-box > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#checkout-box > div:first-child {
    margin-left: 250px;
}